:root,body,html{
    border-radius:5em;
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#windowBar{
    background-color:lightsteelblue;
    -webkit-app-region: drag;
    position:fixed;
    top:0;
    right:0;
    left:0;
    padding:3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}

.windowContent{
    background-color:aliceblue;
    position:fixed;
    top:27px;
    left:0;
    right:0;
    bottom:0;
}

.barBtn{
    -webkit-app-region:no-drag;
    z-index:9999;
    position:fixed;
    top:0;
    padding:3px 10px 3px 10px;
    background-color:lightsteelblue;
    cursor:default;
}

.barBtnClose{
    right:0;
}

.barBtnClose:hover{
    background-color:maroon!important;
    color:white;
}

.barBtnMin{
    right:29px;
}

.barBtnMin:hover{
    background-color:darkgray!important;
}

.songInList{
    border-bottom:1px solid cornflowerblue;
}
#searchbar {
    position: relative;
    top: 5px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-wrapper {
    position: absolute;
    right: 130px;
    left: 0px;
    top : 0px;
    bottom: 0px;
}

/* Form wrapper styling */
.form-wrapper {
    position: relative;
    left: 0px;
    top: 0px;
    width: 90%;
    height: 37px;
    display: inline-block;
}
 
.form-wrapper input {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    float: left;   
    color: #1f1f9d;
    border: 0;
    background: #e6e6e6;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
 
/* Form submit button */
.form-wrapper button {
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: visible;

    
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 37px;
    width: 124px;
    background-color:white;
    border:1px solid cornflowerblue;
}

button{
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 37px;
    width: 124px;
    background-color:white;
    border:1px solid cornflowerblue;
}